body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #FAF9F6;
  margin:0;
  padding:0;
}

p {
  font-size: 1.5rem;
  font-weight: 100;
  margin-top: 0px;
  background: rgb(102,71,52);
  background: linear-gradient(114deg, rgba(102,71,52,1) 15%, rgba(77,77,47,1) 44%, rgba(37,56,22,1) 72%, rgba(35,52,36,1) 100%); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,700&display=swap');

.container {
  text-align: center;
  width: 729px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  display: flex;
  align-items: flex-end;
  justify-content: right;
  height: 50px;
  width: 100%;
  background-color: #FAF9F6;
  border-bottom: 2px solid #bbb;
}

.navbar a {
  all: unset;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
}

.navbar a:hover {
  background-color: rgba(0,0,0,0.1);

}

h1 {
  font-size: 7rem;
  font-weight: 700;
  margin-bottom: 0px; 
  background: rgb(102,71,52);
  background: linear-gradient(114deg, rgba(102,71,52,1) 15%, rgba(77,77,47,1) 44%, rgba(37,56,22,1) 72%, rgba(35,52,36,1) 100%); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.picker-and-color {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 1rem;
}

.selectedColor {
  width: 295px;
  height: 300px;
  background-color: rgb(255, 0, 0);
  border: 1px solid #ccc;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder; 
  font-size: 20px;
  transition: font-size .1s ease-in-out;
}

.selectedColor:hover {
  font-size: 22px ;
}

button:hover {
  background-color: #0056b3;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resultRow {
  margin-left: auto;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 1rem;
 
}

.hint {
  display: flex;
  justify-content: center;
  align-items: center;
  background: gray;
  width: 26px;
  height: 26px;
  border-radius: 5px;
  border: 1px solid #ccc;

}

.hint#perfect {
  background: green;
  color: white;
  font-size: 12px;
}

.hint#close {
  background: #fdae61;
  color: white;
  font-size: 14px;
}

.hint#close svg{
  transform: scale(0.75);
}

.hint#far {
  background: #a50026;
  color: white;
  font-size: 18px;
}

.hint#text {
  cursor: pointer;
}

.swatch {
  display: flex;
  justify-content: center;
  align-items: center;
  background: gray;
  width: 360px;
  height: 160px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: linear-gradient(114deg, rgba(102,71,52,1) 15%, rgba(77,77,47,1) 44%, rgba(37,56,22,1) 72%, rgba(35,52,36,1) 100%); 
}

.colorInfo  p {
  font-size: 14px;
}

.overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  z-index: 1;
  display: block;
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
  display: flex;
  gap: 20px;
}